@mixin center-view {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

@mixin wh100 {
    width: 100%;
    height: 100%;
}

@mixin wh($value) {
    width: $value;
    height: $value;
}

@mixin WH($value1, $value2) {
    width: $value1;
    height: $value2;
}