// COLORS //
$color-black: #111111;
$color-white: #fff;
$color-gold: #cfb53b;

// FONT //

$default-font-size: 1.6rem;


// GRID //

$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-vert-small: 6rem;
$gutter-hor: 6rem;