.startweb {
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: absolute;
    background-color: $color-black;
    margin: -3rem 0 0 -3rem;
    @include center-view;
    &__h2 {
        position: absolute;
        top: .5rem;
        left: 4rem;
        color: $color-white;
        font-size: 3.2rem;
        letter-spacing: 5px;
    }
    &__container {
        width: 100%;
        height: 80vh;
        background-color: darkgoldenrod;
        @include center-view;
        padding: 3.5rem 0;
        &__window {
            background-color:green;
            width: 30rem;
            height: 30rem;
        }
    }
}

