.startweb {
    width: 100%;
    height: 100%;
    z-index: 5000;
    position: absolute;
    background-color: $color-black;
    margin: -3rem 0 0 -3rem;
    @include center-view;
    &__h2 {
        position: absolute;
        top: .5rem;
        left: 4rem;
        color: $color-white;
        font-size: 3.2rem;
        letter-spacing: 5px;
    }
    &__container {
        width: 100%;
        height: 80vh;
        @include center-view;
        padding: 3.5rem 0;
        position: relative;
        &__video {
            position: fixed;
            width: 100%;
            height: 100%;
            opacity: .8;
            z-index: 5100;
        }
        &__window {
            background-color:blue;
            width: 300px;
            height: 300px;
            z-index: 5200;
            position: absolute;
        }
    }
}

