.header {
    @include WH(100%, 90vh);

    &__container {
        @include wh100;
        position: relative;
        background-color: $color-black;

        .container {
            &__slideshow {
                @include wh100;
                position: absolute;
                top: 0rem;
                left: 0rem;
                opacity: .4;

                .slideshow {
                    &__slide {
                        @include wh100;
                        position: absolute;
                        background-color: $color-black;
                        clip-path: polygon(0 1%, 100% 0, 100% 75%, 0% 100%);
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            display: block;  
                        }
                    }
                }
            }

            &__social-media {
                @include wh(auto);
                position: absolute;
                background-image: linear-gradient($color-black, .7);
                top: 60%;
                left: 50%;
                transform: translate(-40%, 40%);
                p {
                    @include center-view;
                    padding: 1rem;
                }
                a {
                    font-size: 2.5rem;
                    &:visited {
                        color: $color-white;
                        outline: none;
                    }
                    &:focus {
                        outline: none;
                    }
                }    
            }
                
            }
        }
    }